<!DOCTYPE html>
<html>
<head>
  <title>ImplementKickstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = 'container'>
	<nav class="navbar navbar-light bg-faded">
   <%= link_to "Categories", root_path, {:class => 'navbar-brand'} %>
  <ul class="nav navbar-nav">
	<li class="nav-item active">
      <%= link_to "Projects", projects_path, {:class => 'nav-link'} %>
    </li>

  </ul>
</nav>

<%= yield %>
</div>

</body>
</html>
